/arduino/win32arduino/Win32
/arduino/win32arduino/x64
/arduino/win32arduino/win32Arduino.vcproj.antoine-PC-i7.antoine.user
/beep/Win32
/bin
/libAnyRtttl/Debug
/libBitReader/Debug
/libMidi/Win32
/libRtttl/Win32
/rtttlOptimizerGui/Win32
/beep/*.user
/install/*.user
/libAnyRtttl/*.user
/libBitReader/*.user
/libMidi/*.user
/libRtttl/*.user
/rtttlOptimizerGui/*.user
/testLibRtttl/*.user
/*.suo
/*.ncb
/third_parties
